{% extends "base.html" %}

{% block content %}

{% if categories_and_words %}

<div class="container">
  {% for category, words in categories_and_words %}
  <div class="category">
    <h3 onclick="submitWord('{{ category }}', true)">{{ category }}.</h3>
    <p>
      {% for word in words %}
      <span class="word" onclick="submitWord('{{ word }}', false)">{{ word }}</span>
      {% endfor %}
    </p>
  </div>
  {% endfor %}
</div>

{% endif %}

{% if example_words %}
<div>
  <div class="welcome">
    <h2>Welcome!</h2>
    <p>
      DictionMap lets you categorise words with fastText word embeddings.
    </p>
    <p>Here are a few
      ideas
      to get you started &ndash; just click a word to begin your journey. Each word in the lists that
      follow
      is another link to further exploration.
    </p>
    <div class="example">
      <h3><a href="/categories">Categories.</a></h3>
      {% for category in example_categories %}
      <span class="word" onclick="submitWord('{{ category }}', true)">{{ category }}</span>
      {% endfor %}
      <h3><a href="/words">Words.</a></h3>
      {% for word in example_words %}
      <span class="word" onclick="submitWord('{{ word }}', false)">{{ word }}</span>
      {% endfor %}
    </div>
    <p>
      This is an
      open-source
      project
      licensed under the MIT License. Its GitHub repository can be found
      <u><a href="https://github.com/jhelsby/DictionMap">here</a></u>. Many
      thanks for visiting!
    </p>
  </div>
</div>
{% endif %}


{% endblock %}